<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>start</key>
		<integer>32</integer>
		<key>end</key>
		<integer>126</integer>
	</dict>
	<dict>
		<key>start</key>
		<integer>160</integer>
		<key>end</key>
		<integer>55291</integer>
	</dict>
	<dict>
		<key>start</key>
		<integer>127744</integer>
		<key>end</key>
		<integer>127776</integer>
	</dict>
	<dict>
		<key>start</key>
		<integer>127792</integer>
		<key>end</key>
		<integer>127868</integer>
	</dict>
	<dict>
		<key>start</key>
		<integer>127872</integer>
		<key>end</key>
		<integer>127891</integer>
	</dict>
	<dict>
		<key>start</key>
		<integer>127904</integer>
		<key>end</key>
		<integer>127946</integer>
	</dict>
	<dict>
		<key>start</key>
		<integer>127968</integer>
		<key>end</key>
		<integer>127984</integer>
	</dict>
	<dict>
		<key>start</key>
		<integer>128000</integer>
		<key>end</key>
		<integer>128252</integer>
	</dict>
	<dict>
		<key>start</key>
		<integer>128256</integer>
		<key>end</key>
		<integer>128317</integer>
	</dict>
	<dict>
		<key>start</key>
		<integer>128507</integer>
		<key>end</key>
		<integer>128576</integer>
	</dict>
	<dict>
		<key>start</key>
		<integer>128581</integer>
		<key>end</key>
		<integer>128591</integer>
	</dict>
	<dict>
		<key>start</key>
		<integer>128640</integer>
		<key>end</key>
		<integer>128709</integer>
	</dict>
</array>
</plist>
